<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.survey">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Ratings"></activity>
        <activity android:name=".opinion" />
        <activity android:name=".feedback" />
        <activity android:name=".PreviewForm"></activity>
        <activity android:name=".FormFill" />
        <activity android:name=".ExistingForm" />
        <activity
            android:name=".Existing"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name=".ActivityDirectory" />
        <activity android:name=".Multi_Text_Activity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".Check_Box_Activity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".Radio_Button_Activity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".Testing" />
        <activity android:name=".Edit_Text_Activity"
            android:theme="@style/AppTheme2"/>
        <activity android:name=".CreateForm"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name=".MainMenu"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>